

<div align="center"><h2>Click#index</h2></div>

<h2>Click Up!</h2>

<div class="row" style="background:red">
	<div align="center" id="clickCount"><h1>0</h1></div>
</div>
<div align="center">
	<div class="btn" style="background:red" id="clickMe">Click</div>
</div>