

<div align="center"><h2>Click Up!</h2></div>
<br />
<div align="center">
	<div class="well" style="width:250px" id="clickCount"><h1>0</h1></div>
</div>
<br />
<div align="center">
	<div class="btn btn-danger" id="clickMe">Click</div>
</div>
</br >
<div align="center">
	<div class="btn btn-primary" id="reset">Start Over</div>
</div>