

<div align="center"><h1>Click#index</h1></div>

<h2>Click Up!</h2>

<div class="row" style="background:red">
	<div align="center"><h1><%= @click_count %></h1></div>
</div>
<div align="center">
	<div class="btn" style="background:red">Click</div>
</div>